# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios


android/app/build/
android/build/
android/.gradle/
android/.cxx/
android/captures/
android/gradle.properties

android/local.properties


# Keep your custom code and resources
!android/app/src/main/java/
!android/app/src/main/res/
!android/build.gradle
!android/app/build.gradle
!android/gradle.properties
!android/gradle/wrapper/
!android/settings.gradle